.hero-container {
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

/* right side */

.img-container > img {
  width: 100%;
  height: 100%;
}

/* left side */
.hero-left {
  gap: 3rem;
}
.title {
  position: relative;
  z-index: 0;
}
.title > h1 {
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
}

.orangeCircle {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  background: var(--orange-gradient);
  position: absolute;
  z-index: -1;
  right: 28%;
  top: -10%;
}

.searchbar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(112, 112, 112, 0.3);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.searchbar > input {
  border: none;
  outline: none;
}

.stats {
  width: 100%;
  justify-content: space-between;
}
.stat > :nth-child(1) {
  font-size: 2rem;
}
.stat > :nth-child(1) > :last-child {
  color: orange;
}
